<div>
    
<form action="/uploadImage" method="post" enctype="multipart/form-data">
<label for="imageBase64Encoded">Select Image</label><br>
<input type="file" id="upload-photo" name="image" type="file"> <br>
<input type="text" id="styleId" name="styleId" hidden="true">
<p>Select Filters</p>
<div class="outer">
{{#each styles}}
    <div style="padding: 5px;" >
        {{@index}}
        <div onclick="selected(this)" data-styleid="{{this.id}}" style="width: 100px; height:100px; background:url('{{this.url}}'); background-size:cover"></div>
        {{!-- <img data-styleid="{{this.id}}" src="{{this.url}}" alt="" width="100px"> --}}
    </div>
{{/each}}
</div>
<br>
<p style="color: red;">
        *please choose the image and filter before uploading
    </p>
<button id="submit" onclick="disable()" type="submit" disabled="true">submit</button>
</form>
</div>


<img src="{{styledimage}}" alt="" width="300px" style="margin: auto;">


<script defer>
let perdiv,styleId,file;
function selected(div){
    if(perdiv){
        perdiv.parentElement.style.background = "none";
    }
    document.getElementById('styleId').value = div.getAttribute('data-styleid');
    styleId = div.getAttribute('data-styleid');
    console.log(styleId);
    div.parentElement.style.background = 'lightblue';
    perdiv = div;

    if(styleId){
        document.getElementById('submit').disabled = false;
    }

}

document.getElementById('upload-photo').addEventListener('change', function(e) {
    file = e.target.files[0];
    if(file && styleId){
        document.getElementById('submit').disabled = false;
    }
});
function disable(){
    let div = document.createElement('div');
    let text = document.createTextNode('loading...');
    div.appendChild(text);
    div.classList.add('loader');
    document.body.appendChild(div);
}   
</script>
